<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251568883977-cbf7iqe80gdnhkjk0po5hdgi45k1thct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251568883977-cbf7iqe80gdnhkjk0po5hdgi45k1thct</string>
	<key>API_KEY</key>
	<string>AIzaSyDLtICLm1LDl5Sh3PDvGSDjQP_IJ6E1NtU</string>
	<key>GCM_SENDER_ID</key>
	<string>251568883977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m2w.gamestudio.fighterforce</string>
	<key>PROJECT_ID</key>
	<string>fighter-force</string>
	<key>STORAGE_BUCKET</key>
	<string>fighter-force.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251568883977:ios:013f0dfc343ec986f6abd8</string>
	<key>DATABASE_URL</key>
	<string>https://fighter-force.firebaseio.com</string>
</dict>
</plist>